---
import '@fontsource-variable/public-sans';
import '@fontsource/manrope/500.css';
import '@fontsource/manrope/600.css';
import '../styles/global.css';

interface Props {
  lang?: string;
  title: string;
  description: string;
}

const { lang = 'en', title, description } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#edf1f4" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
